.evaluation {
  // index 0
  > .index-0 {
    > .slide-container {
      position: relative;
      float: left;
      width: 100%;
      z-index: 0;
      .each-slide {
        > img.photo {
          display: block;
          max-width: 100%;
        }
      }
      .indicators {
        position: absolute;
        width: 100%;
        bottom: 200px;
        margin: 0;
        > div {
          margin-bottom: 0px;
          background-color: #f9f9f9 !important;
          padding: 5px;
        }
        > .active {
          background-color: #ff7878 !important;
          padding: 5px;
        }
      }
    }
    > .text-img {
      z-index: 1;
      text-align: center;
      padding-bottom: 150px;
      transform: scale(0.8) translate(0, -150px);
      > img {
        max-width: 100%;
      }
    }
    > .middle-img {
      text-align: center;
      position: relative;
      .image1 {
        max-width: 100%;
        z-index: 0;
      }
    }

    > .bg-field {
      background-image: url("/assets/Image/Evaluation/bg-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-height: 100%;
      > .squre-img {
        > .image2 {
          max-width: 100%;
        }
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        transform: scale(0.7);
      }
      .form-info {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        .block {
          display: block;
        }
        input {
          margin-top: 10px;
          margin-bottom: 10px;
          border: solid;
          border-color: #236d7a;
          border-radius: 100px;
          height: 50px;
          width: 250px;
          outline: none;
          font-size: 1.6rem;
          text-align: center;
        }
        select {
          margin-top: 10px;
          margin-bottom: 10px;
          border: solid;
          border-color: #236d7a;
          border-radius: 100px;
          height: 50px;
          width: 250px;
          outline: none;
          font-size: 1.6rem;
        }
        option {
          background-color: white;
          font-size: 1.2rem;
        }
        msg {
          color: #236d7a;
          font-size: 1.7rem;
          font-weight: bold;
          letter-spacing: 3px;
          padding-left: 25px;
        }
        .info-cell {
          padding-top: 60px;
          padding-bottom: 60px;
        }
        > .flex-left {
          flex: 0 0 30%;
          justify-content: center;
          //text-align: center;

          > .parent-name {
          }
        }
        > .flex-right {
          flex: 0 0 30%;
          justify-content: center;
          //text-align: center;
          .submit {
            > button {
              //margin-top: 10px;
              margin-bottom: 10px;
              border: solid;
              border-color: #236d7a;
              color: #236d7a;
              background-color: white;
              border-radius: 100px;
              height: 50px;
              width: 200px;
              outline: none;
              font-size: 1.6rem;
              text-align: center;
              &:hover {
                cursor: pointer;
                background-color: #236d7a;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  // index 1
  > .question-container {
    background-image: url("/assets/Image/Evaluation/bg-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 300px;
    > .question-field {
      background-color: rgb(222, 210, 195);
      padding: 10px 10px 10px 60px;
      border-radius: 20px;
      width: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      position: relative;
      display: flex;

      > .question-title {
        position: relative;
        //display: flex;
        color: rgb(56, 108, 120);
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 5px;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;

        transform: translate(0, 25%);
        margin-right: 20px;
      }
      > .questions {
        width: 120%;
        > .question-cell {
          $cell-heigt: 50px;
          position: relative;
          line-height: $cell-heigt;
          border-radius: 5px;
          margin: 5px;
          padding: 5px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          background-color: blanchedalmond;
          > .text {
            width: 80%;
            display: flex;
            justify-content: flex-start;
          }
          > .check {
            display: flex;
            justify-content: flex-end;
            width: 20%;
            > input {
              $check: 20px;
              $ch-border: 1.5px;
              outline: none;
              -webkit-appearance: none;
              background-color: #fafafa;
              //border: $ch-border solid #000;
              box-shadow: 0 0 0 $ch-border #000;
              border-radius: 50%;
              position: relative;
              width: 20px;
              height: 20px;
              margin-top: $cell-heigt/2 - $check/2 - $ch-border;
              &::after {
                border: $ch-border solid red;
              }

              &:checked {
                background-color: rgb(210, 120, 118);
                border: $ch-border solid white;
                box-shadow: 0 0 0 $ch-border #000;
                &::after {
                  width: 10px;
                  width: 10px;
                }
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .bg-w {
          background-color: white;
        }
        .bg-g {
          background-color: rgb(239, 239, 239);
        }
      }
    }
    > .send-btn {
      margin-top: 150px;
      margin-bottom: 50px;
      width: 180px;
      height: 60px;
      border-radius: 40px;
      outline: none;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: rgb(56, 108, 120);

      color: white;
      font-size: 25px;
      letter-spacing: 3px;
      border: none;
      &:hover {
        cursor: pointer;
        border: solid;
        color: rgb(56, 108, 120);
        background-color: white;
        border-color: rgb(56, 108, 120);
      }
    }
    .send-none {
      visibility: hidden;
      display: none;
    }
  }
  // index 2
  > .result-container {
    background-image: url("/assets/Image/Evaluation/bg-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //height: 1736px;
    width: 100%;
    position: relative;
    > .toy-container {
      position: relative;
      .toy-image {
        max-width: 100%;
      }

      .toy-info {
        position: absolute;
        right: 10%;
        top: 10%;
        $title-width: 250px;
        > .title {
          width: $title-width + 15px;
          margin-bottom: 30px;
          border: solid;
          border-radius: 100px;
          border-color: #236d7a;
          border-width: 10px;
          position: relative;
          a {
            font-size: 20pt;
            color: white;
            text-align: center;
            background-color: #236d7a;
            display: block;
            width: $title-width;
            border-radius: 100px;
            border: solid;
            border-color: white;
            padding: 5px;
          }
        }
        > .info {
          font-size: 20pt;
          > a {
            white-space: pre-line;
            //margin: 100px;
          }
          > .info-btn {
            margin-top: 30px;
            text-align: center;
            > a {
              display: inline-block;
              margin-right: 20px;
              text-decoration: none;
              border: solid;
              color: white;
              width: 200px;
              padding: 10px;
              &:hover {
                cursor: pointer;
                background-color: rgb(70, 67, 61);
                border-color: rgb(70, 67, 61);
              }
            }
          }
        }
      }
    }
    .recommand {
      margin-top: 100px;
      text-align: center;
      $title-width: 250px;
      > .title {
        width: $title-width + 15px;
        display: inline-block;
        border: solid;
        border-radius: 100px;
        border-color: #236d7a;
        border-width: 10px;
        a {
          font-size: 15pt;
          color: white;
          text-align: center;
          background-color: #236d7a;
          display: block;
          width: $title-width;
          border-radius: 100px;
          border: solid;
          border-color: white;
          padding: 5px;
        }
      }
    }

    .toy-slogan {
      margin-top: 100px;
      position: relative;
      > img {
        max-width: 100%;
      }
      > .slogan-btn {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
        > a {
          display: inline-block;
          width: 200px;
          text-decoration: none;
          border: solid;
          margin: 10px;
          margin-left: 100px;
          margin-right: 100px;
          padding: 10px;
          color: white;
          font-size: 20pt;
          border-radius: 100px;
          &:hover {
            cursor: pointer;
            background-color: #236d7a;
          }
        }
      }
    }
  }
}
