$SlideHeight: 100px;

.homePage {
  // height: 105vh;
  background-color: #78b8ce;
  overflow: auto;
  .slide-container {
    position: relative;
    float: left;
    margin-top: $SlideHeight;
    margin-left: 15px;
    // left: 15px;
    width: 55vw;
    border: solid;
    border-width: 5px;
    border-color: rgb(117, 115, 110);

    .each-slide {
      > img.photo {
        display: block;
        max-width: 100%;
      }
    }
    .nav {
      background-color: rgb(255, 255, 255);
      z-index: 1;
      &[data-type="next"] {
        transform: translate(50%, 0);
      }
      &[data-type="prev"] {
        transform: translate(-50%, 0);
      }
    }

    .indicators {
      position: absolute;
      width: 100%;
      bottom: 7px;
      margin: 0;
      > div {
        margin-bottom: 0px;
        background-color: #f9f9f9 !important;
      }
      > .active {
        background-color: #ff7878 !important;
      }
    }
  }

  .slogan {
    width: 30vw;
    float: left;
    margin-top: $SlideHeight + 20px;
    margin-left: 50px;
    font-size: 20px;
    color: white;
    msg {
      display: block;
      font-weight: bold;
      &#title1 {
        font-size: 220%;
      }
      &#title2 {
        font-size: 280%;
      }
      &#desc {
        margin-top: 30px;
        font-size: 120%;
      }
    }
  }

  // msg#1.2 {
  // }

  // msg#1.2 {
  // }

  // msg#2 {
  // }
}
