@import "variable.scss";

$nav-hieght: 80px;
$nav-font-size: 15pt;
$nav-padding: 25px;
$search-hieght: 3px;
.navbar {
  overflow: visible;
  background-color: #78b8ce;
  position: relative;
  z-index: 2;
  ul {
    height: $nav-hieght;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  > .seperator {
    height: 15px;
    background-color: rgb(211, 234, 245);
  }
}
.nav-cell {
  float: right;
  line-height: $nav-hieght;
  font-size: $nav-font-size;
  position: relative;

  form {
    width: 130px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 28px;

    .s {
      width: 100px;
    }
  }
  form.search input[type="text"] {
    padding: $search-hieght;
    font-size: 17px;
    border: none;
    float: left;
    width: 65%;
    background: white;
    border-radius: 25px 0 0 25px;
    outline: none;
  }
  form.search button {
    float: right;
    width: 25%;
    padding: $search-hieght;
    //padding-left: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    &:hover {
      background: #40a2f1;
    }
  }
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  .en-btn {
    margin-right: 20px;
    border-radius: 100%;
    padding: 15px;
    outline: none;
    font-size: 20px;
    color: white;
    background-color: rgb(89, 125, 148);
    border: none;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  i {
    padding-right: 10px;
  }

  // dropdowns
  .dropdown {
    .dropbtn {
      border: none;
      outline: none;
      color: white;
      padding: $nav-padding;
      background-color: inherit;
      font-size: $nav-font-size;
      font-weight: bolder;
      &:hover {
        transform: scale(1.2);
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      box-sizing: border-box;
      left: 50%;
      transform: translate(-45%, 0);
      //padding: $nav-padding;
      padding: 7px 35px;

      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 10%;
      // z-index: 1;
      a {
        margin: 25px 0px;
        display: block;
        white-space: nowrap;
        color: black;
        text-align: center;
        text-decoration: none;
        line-height: 26px;
        border-style: solid;
        border-width: 0 0 1.5px 0;
        padding: 0 7px 5px 7px;

        &:hover {
          background-color: rgba(0, 0, 0, 0);
          transform: scale(1.2);
        }
      }
    }
    &:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
}
.nav-head-img {
  float: left;
  img {
    padding-left: 20px;
  }
}
