@import "variable.scss";

$nav-hieght: 80px;
$nav-font-size: 15pt;
$nav-padding: 25px;
$search-hieght: 3px;
.navbar {
  overflow: hidden;
  background-color: #78b8ce;
  ul {
    height: $nav-hieght;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
.nav-cell {
  float: right;
  line-height: $nav-hieght;
  font-size: $nav-font-size;

  form {
    width: 130px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 28px;

    .s {
      width: 100px;
    }
  }
  form.search input[type="text"] {
    padding: $search-hieght;
    font-size: 17px;
    border: none;
    float: left;
    width: 65%;
    background: white;
    border-radius: 25px 0 0 25px;
    outline: none;
  }

  form.search button {
    float: right;
    width: 25%;
    padding: $search-hieght;
    //padding-left: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    &:hover {
      background: #40a2f1;
    }
  }
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  .en-btn {
    margin-right: 20px;
    border-radius: 100%;
    padding: 15px;
    outline: none;
    font-size: 20px;
    color: white;
    background-color: rgb(89, 125, 148);
    border: none;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    //padding: $nav-padding;
    //font-family: fot-matisse-pron, sans-serif;
    text-decoration: none;

    &:hover {
      background-color: #111;
    }
    &::after {
      content: " ";
      background: black;
      display: block;
      width: 120%;
      height: 0.08rem;
      margin-top: -0.3rem;
    }
  }

  i {
    padding-right: 10px;
  }
  // dropdowns
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: $nav-padding;
    background-color: inherit;
    font-size: $nav-font-size;
    font-weight: bolder;
    &:hover {
      transform: scale(1.2);
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    //padding: $nav-padding;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    z-index: 1;
    a {
      float: none;
      color: black;
      display: block;
      text-align: left;
      &:hover {
        background-color: rgba(0, 0, 0, 0);
        transform: scale(1.2);
      }
    }
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
.nav-head-img {
  float: left;
  img {
    padding-left: 20px;
  }
}
