$tch_philo_pad_h: 45px;
$tch_philo_bord_rad: 70px;

.teachers {
  $title-width: 350px;
  > .title {
    width: $title-width + 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid;
    border-radius: 100px;
    border-color: #236d7a;
    border-width: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    a {
      font-size: 40pt;
      color: white;
      text-align: center;
      background-color: #236d7a;
      display: block;
      width: $title-width;
      border-radius: 100px;
      border: solid;
      border-color: white;
      padding: 5px;
    }
  }
  .team-title {
    margin-bottom: 50px;
    line-height: 100px;
    width: 400px;
    text-align: center;
    background-color: #e4d8c4;
    font-size: 35pt;
    position: relative;
  }
  > .container {
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    .cells {
      .cell {
        $squre-unit: 200px;
        $squre-border: 5px;
        $name-field: 120px;
        $dashed-border: 3px;
        $creater-fix: 10px;
        padding-top: 100px;
        padding-bottom: 100px;
        &::after {
          content: "";
          display: table;
          clear: both;
        }
        > .profile-container {
          float: left;
          .photo {
            background-color: white;
            height: $squre-unit;
            width: $squre-unit;
            float: left;
            border: solid;
            border-color: #0c6c79;
            border-width: $squre-border;
            border-radius: 30px;
          }
          .name {
            height: $squre-unit + 2 * $squre-border;
            width: $squre-unit + 2 * $squre-border + $name-field;
            border-radius: 30px 0 0 30px;
            border-right: dashed;
            border-color: white;
            border-width: $dashed-border;
            background-color: #40848d;
            color: white;
            font-size: 20pt;
            text-align: center;
            msg {
              position: relative;
              top: 50%;
              transform: translate(0, -50%);
              writing-mode: vertical-lr;
              text-orientation: upright;
              letter-spacing: 10px;
            }
          }

          // Only creater use this scss///////////////
          > .creater-photo-bg {
            float: left;
            height: $squre-unit + 2 * $squre-border;
            width: 180px;
            border-radius: 30px 0 0 30px;
            background-color: #40848d;
            transform: translate(0, 160px);
            .creater-photo {
              background-color: white;
              height: $squre-unit;
              width: $squre-unit;
              border: solid;
              border-color: #0c6c79;
              border-width: $squre-border;
              border-radius: 30px;
            }
          }

          > .creater-title {
            background-color: #40848d;
            text-align: center;
            font-size: 25pt;
            color: #ffe374;
            font-weight: bold;
            letter-spacing: 6px;
            line-height: 60px;
            border-radius: 20px 0 0 20px;
          }
        }
        > .creater-name {
          float: left;
          width: 150px;
          height: 430px;
          background-color: #40848d;
          border-right: dashed;
          border-color: white;
          border-width: $dashed-border;
          color: white;
          text-align: center;
          msg {
            font-size: 20pt;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            writing-mode: vertical-lr;
            text-orientation: upright;
            letter-spacing: 10px;
            submsg {
              font-size: 14pt;
            }
          }
        }
        //////////////////////////////////////////////

        > .resume-container {
          float: left;

          background-color: #40848d;
          padding-left: 50px;
          padding-right: 50px;
          height: 100%;
          width: 800px;
          //width: calc(100% - #{$squre-unit + 2 * $squre-border + $dashed-border});
          .resume-cell {
            padding-top: 30px;
            padding-left: 10px;
            padding-bottom: 20px;
            font-size: 15pt;
            font-weight: bold;
            color: white;
            letter-spacing: 6px;
            firstmsg {
              padding-bottom: 10px;
              border-bottom: solid;
              border-width: 1.3px;
              line-height: 50px;
            }
            msg {
              padding-bottom: 10px;
              border-bottom: solid;
              border-width: 1.3px;
              line-height: 50px;
              margin-left: 75px;
            }
            lastmsg {
              margin-left: 75px;
              line-height: 50px;
            }
          }
        }
      }
    }
    .img-structure {
    }
  }

  > .img-child {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    & > .title {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      margin-top: 400px;
      padding: 25px 95px;
      background-color: rgba(225, 210, 183, 0.6);
      color: white;
      font-size: 40px;
      font-weight: 300;
      word-spacing: 15px;
      border-radius: 100px;
    }
    img {
      position: relative;
      width: inherit;
    }
  }

  > .img-structure {
    position: relative;
    padding-bottom: 100px;
    width: 100%;

    text-align: center;

    .teaching-philo {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: -50px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: stretch;
      width: 100%;

      div {
        background-color: rgba(228, 228, 228, 0.9);
        &[pos="l"] {
          font-size: 30px;
          flex: 0 0 40px;
          // writing-mode: vertical-lr;
          word-spacing: 3px;
          font-weight: 900;
          text-align: center;
          border-radius: $tch_philo_bord_rad 0px 0px $tch_philo_bord_rad;
          padding: $tch_philo_pad_h 30px;
        }

        &[pos="r"] {
          font-size: 40px;
          flex: 0 0 420px;
          margin-left: 10px;
          padding: $tch_philo_pad_h 80px;
          text-align: left;
          font-size: 26px;
          font-weight: 400;
          border-radius: 0px $tch_philo_bord_rad $tch_philo_bord_rad 0px;
        }
      }
    }
    img {
      min-height: inherit;
      width: auto;
      transform: scale(0.7) translate(-15%, 0);
    }
  }

  > .img-programtitle {
    $title-width: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #e2d8c6;
    line-height: $title-width;
    position: relative;
    text-align: center;
    img {
      transform: translate(0, $title-width/4);
    }
  }
}
